body {
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;/*BORRAR EN SECCIONES*/
}


/*_________HEADER_________________*/


header{
	z-index: 1;
	position: fixed;
	background-image: url(../assets/images/hero.gif);
	background-size: cover;
	top:0;
	left:0;
	width: 100%;
	padding-bottom: 10px;
}

.section1{
	background-image: url(../assets/images/hero.gif);
	height: auto;

	background-size: cover;
	background-repeat: no-repeat;
	padding: 100px;


}
header img{/*imagen*/
	width: 60px;
	padding: 33px 80px;
}


.login{/*borde boton login*/
	border: 1px solid white;
	border-radius: 5px;
}


.header1 a{/*texto de cada link*/
	
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	padding: 10px 17px;

}

.header1 a:hover{/*accion al pasar el cursor*/
	color:#FF00BF;
	margin-bottom: 20px;
	

}

.header1{/*mueve todos los link*/
	margin-left:560px;
	display: inline-block;
    bottom: 50px;
    position: absolute;
}



/*_____________SECTION____________*/





.cont-white{/*contenedor blanco*/
	background: white;
	width: 35%;
	height: 400px;
	margin-left:700px;
	padding-right: 65px;
	padding-left: 60px;

    


	
}

.cont-white h2{
	color:#352384;
	font-family: 'Montserrat', sans-serif;
	font-size: 29px;
	padding-top:50px; 

	
}

.cont-white p{
	font-family: 'Montserrat', sans-serif;
	color:#675AA3;
}

input{
	height: 17px;
	border-style: none;
}

.barra-datos{/*caracteristicas barra input*/
	color: #B9B3D4;
	font-size: 16px;
	border-bottom: 1px  solid #B9B3D4;
	width: 400px;
	
}

.botones{
	margin-top:50px;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 30px;

}
.botones a:first-child {/*primer hijo botones*/
	background:#FF00BF;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color:#FFFFFF;
	text-decoration: none;
	border-radius: 9px;
	padding:10px;
	margin-right: 25px;

}

.texto-final{
	font-family: 'Montserrat', sans-serif;
	font-size: x-small;
}
.texto-final a{
	color:#FF00BF;
	text-decoration: none;

}
.transicion{/*barra entre seccion1 y 2 da degrade*/
	position: absolute;
	background:linear-gradient(transparent,#76278F);
	width: 100%;
	height: 6em;
	top:33em;
}
	


/*____________Seccion2 phone__________*/

.section2{
	background:linear-gradient(#76278F, #2B1E66);
	clear: both;
	overflow: hidden;
	color:#FFFFFF;
	list-style:none;
	font-family: 'Montserrat', sans-serif;
	 
	padding-top:30px;
	
	
}


.phone{
    float: right;
    width: 35%;
    padding-right:170px;
    padding-bottom: 40px;
  
}
ul {
	padding-left: 180px;
	list-style:none;
	font-family: 'Montserrat', sans-serif;
	font-weight:300; 
}

.section-video1, .section-video2, .section-video3{
	display: inline-block;
	width: 100%;
	overflow: hidden;
	clear: both;
}

 .video1, .video3{/*posicion video1-3*/
float: right;
width:800px; 
height:420px;


}
.texto1, .texto2, .texto3{
	display: inline-block;
	width: 350px;
	padding-left: 100px;
	
}

.video2 {
float: left;
width: 800px;
height: 420px;
}


/*_____FOOTER_____________*/

footer{
	background: #333447;/*color contenedor*/

}

footer li a:hover{/*color de Link*/
color:#FF00BF;
}



.listas li a{/*elimina las caracteristicas lista*/
	color:#FFFFFF;
	text-decoration: none;
	list-style:none;

}

.listas{
	display: inline-block;
}

.listas img{/*tamaño imagenes google*/
	display: inline-block;
	width: 200px;
	height: 60px;

}

.iconos3{/*iconos redes sociales*/
	color:#FFFFFF;
	text-align: center;
	padding-bottom: 40px;
}
	

.iconos3 i{/*borde redes sociales*/
	font-size: 23px;
	width:25px;
	height:25px;
	padding: 6px 7px;
	border-radius: 100%;
	border: 2px solid white;
	margin:35px;
	
}

hr{
	width: 60%;
}